<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welding Regression App</title>
  <style>
    form {
      margin: auto;
      width: 35%;
    }

    .result {
      margin: auto;
      width: 35%;
      border: 1px solid #ccc;
    }
  </style>
  <title>Outputs Prediction</title>
</head>
<body>
  <form action="{{url_for('main')}}" method="POST">
    <fieldset>
      <legend>Insert Value</legend>
      Enter Input Parameters
      <input name="input_features" type="text" required>
      <br>
      <br>
      <input type="submit" value="Get Me the Outputs" name="submit_btn">
    </fieldset>
  </form>
  <div class="result" align="center">
    {% if result %}
      <br>
      <p style="font-size: 50px;">
        Expected Outputs Are
      </p>
      <p style="font-size: 50px;">
        {% for key, value in result.items() %}
          <li>{{ key }}</li>
          <p>{{ value }}</p>
        {% endfor %}
      </p>
    {% endif %}
  </div>
</body>
</html>
